<nav
  class="bg-slate-600 px-4 md:px-8 lg:px-16 flex md:flex-col lg:flex-row justify-between items-center py-2  text-white">
  <h1>ThogaKade</h1>
  <div>
    <div class="flex flex-row items-center lg:hidden">
      <button class="text-white focus:outline-none" (click)="toggleNavbar()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
    <div [ngClass]="{'hidden': !isNavbarOpen, 'block': isNavbarOpen}" class="lg:block">
      <ul class="flex flex-col md:flex-row gap-4">
        <a [routerLink]="['/main/customers']">
          <li class="cursor-pointer">Customers</li>
        </a>
        <a [routerLink]="['/main/home']">
          <li class="cursor-pointer">Home</li>
        </a>
        <a [routerLink]="['/main/orders']">
          <li class="cursor-pointer">Orders</li>
        </a>
        <a [routerLink]="['/main/items']">
          <li class="cursor-pointer">Items</li>
        </a>
        <a [routerLink]="['/main/placeorder']">
          <li class="cursor-pointer">Place Order</li>
        </a>
      </ul>
    </div>
  </div>
</nav>
