<div class='px-4 md:px-8 lg:px-16 min-h-[90vh] bg-slate-50'>
  <h1 class="">Customers</h1>
  <form class="" [formGroup]="customerForm" (ngSubmit)="customerOnSubmit()">
    <div class="flex gap-4 px-4 py-4">
      <mat-form-field appearance="fill" class="w-96">
        <mat-label>Customer Id</mat-label>
        <input [value]="customer.customerId" formControlName="customerId" placeholder="C001" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-96">
        <mat-label>Customer Name</mat-label>
        <input [value]="customer.customerName" formControlName="customerName" placeholder="Enter your name..." matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-96">
        <mat-label>Customer Address</mat-label>
        <input [value]="customer.customerAddress" formControlName="customerAddress" placeholder="Enter customer address"
               matInput>
      </mat-form-field>
    </div>
    <button mat-button color="primary">{{ isTableRowSelected ? 'Update' : 'Add' }}</button>
  </form>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="customerId">
      <th mat-header-cell *matHeaderCellDef> customerId</th>
      <td mat-cell *matCellDef="let element"> {{ element.customerId }}</td>
    </ng-container>
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef> customerName</th>
      <td mat-cell *matCellDef="let element"> {{ element.customerName }}</td>
    </ng-container>
    <ng-container matColumnDef="customerAddress">
      <th mat-header-cell *matHeaderCellDef> customerAddress</th>
      <td mat-cell *matCellDef="let element"> {{ element.customerAddress }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="tblRowOnClick(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
