<div class='px-4 md:px-8 lg:px-16 min-h-[90vh] bg-slate-50'>
  <h1 class="pt-8">Items</h1>
  <form class="" [formGroup]="itemForm" (ngSubmit)="itemOnSubmit()">
    <div class="flex gap-4 py-4 flex-col md:flex-row">
      <mat-form-field appearance="fill" class="w-96">
        <mat-label>Id</mat-label>
        <input [value]="itemForm.value.id" readonly formControlName="id"  matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-96">
        <mat-label>Description</mat-label>
        <input [value]="itemForm.value.description" placeholder="Enter description..." formControlName="description" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-96">
        <mat-label>Quantity</mat-label>
        <input [value]="itemForm.value.qty"  placeholder="Enter quantity" formControlName="qty"
               matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-96">
        <mat-label>Price</mat-label>
        <input [value]="itemForm.value.price"  placeholder="Enter price" formControlName="price"
               matInput>
      </mat-form-field>
    </div>
    <button class="bg-blue-500 px-6 py-3 text-white my-2 hover:opacity-70 rounded-md">Add Item</button>
  </form>
</div>
